.empty1.one {
  background: red;
}

.empty2 .one .two {
  background: blue;
}

.five > .four .three {
  color: green;
}

.four {
  flex: 0 0 auto;
  color: purple;
}

.five:hover {
  color: pink;
}

.crclB .crclA {
  min-width: 200px;
  width: 200px;
}

.crclC > .crclB {
  height: 100px;
  content: '';
  background: grey;
}

.crclA + .crclC {
  overflow: hidden;
  position: absolute;
  left: -12px;
}
