a {
  color: red;
  background-color: grey;
}

body a{
  background-color: white;
}

body article p{
  color: green;
}

p:hover {
  color: purple;
}

article > p {
  padding: 16px;
}

article > p:hover {
  background-color: blue;
}

p + img {
  margin: 10px;
}

p ~ img {
  margin: 12px 6px;
}

p + img > a {
  color: red;
}

.c {
  flex: 1;
}

p + .c > a {
  color: red;
}
